<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a18077431_nguyenphanhuynhduc_android_tuan1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.18077431_NguyenPhanHuynhDuc_Android_Tuan1">
        <activity android:name="com.example.a18077431_nguyenphanhuynhduc_android_tuan1.Tuan1_Bai5"></activity>
        <activity android:name="com.example.a18077431_nguyenphanhuynhduc_android_tuan1.Tuan1_Bai4" />
        <activity android:name="com.example.a18077431_nguyenphanhuynhduc_android_tuan1.Tuan1_Bai3" />
        <activity android:name="com.example.a18077431_nguyenphanhuynhduc_android_tuan1.Tuan1_Bai2" />
        <activity android:name="com.example.a18077431_nguyenphanhuynhduc_android_tuan1.Tuan1_Bai1" />
        <activity android:name="com.example.a18077431_nguyenphanhuynhduc_android_tuan1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>